.map {
  padding: 5% 5%; /*first is top bottom, second left right*/
}

/*img {
    min-width: 50px;
    max-width: 50px;
}*/

.popup-box {
    padding: 10px;
    width: 200px;
    border-color: #aaa;
    border-width: 1px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.95;
}

.popup-box h6 {
    margin: 10px;
    margin-top: 0px;
}

.popup-box p {
    padding: 0px;
    margin: 5px;
}