/*#navigation ul li
{
    list-style-type: none;
    display: inline-block;
}*/

/*.has-docked-nav .navbar-it {
  position: fixed;
  top: 0;
  left: 0; }
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


/*#navigation a:not(:first-child):before {
    content: " | ";
}*/

.map {
  padding: 0% 10%; /*first is top bottom, second left right*/
}


.navbar-it {
  border-right: 1px;
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 11px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-right: solid;
  border-width: 2px 1px;
  border-color: rgb(170, 170, 170);
}  

.App-header { /* added by madison */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid white;
  margin-top: 10px;
  margin-left: 5px;
}

#last-link {
  margin-right: 50px;

}

#first-link {
  border-left: solid;
  border-width: 2px 1px;
  border-color: rgb(170, 170, 170);
}

.navbar-it:hover { 
  background-color: rgb(194, 23, 52); 
  /*text-decoration: none;*/
  color: white;
}

a.nav-link {
  text-align: center;
  color: white;
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 1.5em;
  display: flex;
}

/**remove from last item*
.a:last-child {
    border:none;
}*/

.nav-link:hover {
  text-decoration-color: white;
  color: white;
  /*text-decoration: none;*/
}


.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}
*/

.phc-logo {
  max-width: 210px;
  max-height: 70px;
  top: 10px;
  left: 100px;
  position: fixed;

}

.App-header { /* black bar at top */
  background-color: rgb(132,137,141);
  height: 52px;
  padding: 20px;
  box-shadow: 0px 2px 10px #888888;
}

.App-title {
  font-size: 1em;
  margin-top: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.current-location-bar {
  /*padding: 35px;*/
  padding: 0% 5%;
}


/*
.titlebannerbackground {
  width: 100%;
  height: 100px;
  background-color: #AF1E2D;

  display:flex;
  justify-content: space-between;
  flex-direction: row;

}
*/

.titlebannerlogo{
  margin-top: 50px;
  margin-bottom: 50px;
  
  width: 100%;
  height: 100px;
  background-color: #AF1E2D;

  font-family: Roboto;
  color: white;

  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.bannertext{
  width: 50%;
  text-align: left;
}

.circlelogo {
  width: 250px;
  height: 250px;
  margin-top: -75px;
}


.text {
  font-family: Roboto;
  color: white;
}


.bigbuttonsandicannotlie{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 10px;

}

.Donate {
  font-family: Roboto;
  text-align: center;
}
.donatebutton {
  background-color: #AF1E2D;
  font-size: 15px;
  font-family: Roboto;
  font-weight: Medium;
  text-transform: none;
  color: white;
}

.bts {
  border-radius: 2px;
  margin: 1px;
}

#today{
  background-color: #AF1E2D;
  color: white;
  font-family: Roboto;
  font-weight: Medium;
  text-transform: none;
}

#month{
  font-family: Roboto;
  font-weight: Medium;
  text-transform: none;
}

#year{
  font-family: Roboto;
  font-weight: Medium;
  text-transform: none;
}


#allTime{
  font-family: Roboto;
  font-weight: Medium;
  text-transform: none;
}






