ul.resource-list {
    list-style: none;
    border-top: 1px solid #bbb;
   /* padding: 30px;*/
}


li.item {
    margin: 0px;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
}


img {
    width: 50%;
    max-width:45px;
    max-height:100%;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;   
  width: 100%;
  height: 20%; 
}